.TextInput {
  margin-top: 2rem;
  width: 100%;

  & label {
    font-variant-caps: all-small-caps;
  }

  & input {
    background-color: var(--color-background--unshaded);
    border-radius: 0.25rem;
    border: 1px var(--color-primary) solid;
    caret-color: var(--color-accent);
    font-family: var(--font-mono);
    font-size: 16px;
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 100%;

    &:focus {
      border-color: transparent;
      outline: var(--focus-outline);
    }
  }
}
