@import url(index.css);

/* Resets  */

* {
  box-sizing: border-box;
}

/* Styles */

html {
  background-color: var(--color-background);
  color-scheme: light dark;
  color: var(--color-text);
  display: flex;
  font-family: var(--font-sans);
  height: 100%;
  justify-content: center;
}
